/*
*Estilos BuscaPlaca
*/

#lbTitulo{
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-text-Fill: #0D4E31;
}

#lbPlaca{
    -fx-text-Fill: #000000;
    -fx-font-size: 13px;
    -fx-font-weight: bold;
}

#lbIndicacion{
    -fx-text-Fill: #4F4F4F;
    -fx-font-size: 10px;
    -fx-font-weight: bold;    
}

#btnBusca{
    -fx-background-color: #0D4E31;
    -fx-font-size: 14px;
    -fx-text-Fill: #FFFFFF;
    -fx-font-family: "Arial black"
}