#lbTitulo{
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-text-Fill: #0D4E31;
}

#btnRegresar{
    -fx-background-color: #0D4E31;
    -fx-font-size: 14px;
    -fx-text-Fill: #FFFFFF;
    -fx-font-family: "Arial black"
}

#Lebel{
    -fx-font-size: 15px;
    -fx-font-weight: bold; 
}

