/*
 * Empty Stylesheet file.
 */

#lbTitulo{
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-text-Fill: #0D4E31;
}

#lbMulta{
    -fx-text-Fill: #000000;
    -fx-font-size: 13px;
    -fx-font-weight: bold;
}

#lbTenencia{
    -fx-text-Fill: #000000;
    -fx-font-size: 13px;
    -fx-font-weight: bold;
}

#lbCita{
    -fx-text-Fill: #000000;
    -fx-font-size: 13px;
    -fx-font-weight: bold;
}

#btnSalir{
    -fx-background-color: #0D4E31;
    -fx-font-size: 14px;
    -fx-text-Fill: #FFFFFF;
    -fx-font-family: "Arial black"
}