#lbTitulo{
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-text-Fill: #303FFC;
}

#lbCorreo{
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-font-family: "Arial black"
}

#lbPass{
    -fx-font-size: 15px;
    -fx-font-weight: bold; 
    -fx-font-family: "Arial black"
}

#btnPagar{
    -fx-background-color: #F2E22E;
    -fx-font-size: 14px;
    -fx-text-Fill: #051A14;
    -fx-font-family: "Arial black"
}

#btnReg{
    -fx-background-color: #F2E22E;
    -fx-font-size: 14px;
    -fx-text-Fill: #051A14;
    -fx-font-family: "Arial black"    
}

#btnRegresar{
    -fx-background-color: #F2E22E;
    -fx-font-size: 14px;
    -fx-text-Fill: #051A14;
    -fx-font-family: "Arial black"    
}

#lbPrecio{
    -fx-font-size: 15px;
    -fx-font-weight: bold; 
    -fx-font-family: "Arial black"    
}