/*
 * Empty Stylesheet file.
 */
#lbTitulo{
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-text-Fill: #0D4E31;
}

#btn1:hover{
    -fx-background-color: #0D4E31;
    -fx-border-color:#000000;
    -fx-font-size: 12px;
    -fx-font-family: "Arial black";
    -fx-text-fill: white
}

#btn1{
    -fx-font-size: 12px;
    -fx-font-family: "Arial black"
}

#btn2:hover{
    -fx-background-color: #0D4E31;
    -fx-border-color:#000000;
    -fx-font-size: 12px;
    -fx-font-family: "Arial black";
    -fx-text-fill: white
}
#btn2{
    -fx-font-size: 12px;
    -fx-font-family: "Arial black"
}

#btn3:hover{
    -fx-background-color: #0D4E31;
    -fx-border-color:#000000;
    -fx-font-size: 12px;
    -fx-font-family: "Arial black";
    -fx-text-fill: white
}

#btn3{
    -fx-font-size: 12px;
    -fx-font-family: "Arial black"
}

#btn4:hover{
    -fx-background-color: #0D4E31;
    -fx-font-size: 12px;
    -fx-border-color:#000000;
    -fx-font-family: "Arial black";
    -fx-text-fill: white
}

#btn4{
    -fx-font-size: 12px;
    -fx-font-family: "Arial black"
}

#btn5:hover{
    -fx-background-color: #0D4E31;
    -fx-border-color:#000000;
    -fx-font-size: 12px;
    -fx-font-family: "Arial black";
    -fx-text-fill: white
}

#btn5{
    -fx-font-size: 12px;
    -fx-font-family: "Arial black"
}

#btn6:hover{
    -fx-background-color: #0D4E31;
    -fx-border-color:#000000;
    -fx-font-size: 12px;
    -fx-font-family: "Arial black";
    -fx-text-fill: white
}

#btn6{
    -fx-font-size: 12px;
    -fx-font-family: "Arial black"
}

#btnSalir{
    -fx-background-color: #0D4E31;
    -fx-font-size: 14px;
    -fx-text-Fill: #FFFFFF;
    -fx-font-family: "Arial black"
}

#Lebel{
    -fx-font-size: 18px;
    -fx-font-weight: bold; 
    -fx-text-Fill: #BA2D40;
}
